.page {
    display: grid;
    grid-template-rows: 2fr 8fr;
    min-height: 0;
    height: 100%;
    gap: 32px;
    padding: 64px;
    overflow: hidden;
    background: #fff;
}

.image-info-panel {
    display: flex;
    gap: 32px;
    height: 192px;
    align-items: center;

    border: 1px solid #e0e0e0;
    border-radius: 5px;

    padding: 16px;
}
